services:
 nginx:
   container_name: nginx
   image: nginx:1.29.3-alpine
   restart: unless-stopped
   ports:
    - "80:80"
    - "443:443"
   depends_on:
     - web
   volumes:
     - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
     - ./nginx/conf.d:/etc/nginx/conf.d:ro
     - static_volume:/app/TutorApp/staticfiles

 web:
   build:
     context: .
     dockerfile: Dockerfile.prod
   restart: unless-stopped
   container_name: web
   depends_on:
     db:
       condition: service_healthy
   volumes:
     - static_volume:/app/TutorApp/staticfiles
 db:
   image: postgres:17.5
   restart: unless-stopped
   environment:
     POSTGRES_DB: ${PG_NAME}
     POSTGRES_USER: ${PG_USER}
     POSTGRES_PASSWORD: ${PG_PASSWORD}
   volumes:
     - postgres_data:/var/lib/postgresql/data
   healthcheck:
     test: [ "CMD-SHELL", "pg_isready" ]
     interval: 10s
     timeout: 5s
     retries: 5

 redis:
   image: redis:8.2.2-alpine
   restart: unless-stopped
   command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
   volumes:
     - redis_data:/data
   healthcheck:
     test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
     interval: 10s
     timeout: 3s
     retries: 5
 celery:
   container_name: celery
   build:
     context: .
     dockerfile: Dockerfile.prod
   command: celery -A core.celery worker --loglevel=info --concurrency=2 --max-tasks-per-child=1000
   volumes:
     - .:/app:ro
   depends_on:
     - db
     - redis
   environment:
     - PYTHONPATH=/app/TutorApp
     - CELERY_BROKER_URL=redis://:${REDIS_PASSWORD}@redis:6379/1
     - CELERY_RESULT_BACKEND=redis://:${REDIS_PASSWORD}@redis:6379/1
 celery-beat:
   container_name: celery-beat
   build:
     context: .
     dockerfile: Dockerfile.prod
   command: celery -A core.celery beat --loglevel=info
   volumes:
     - .:/app:ro
   depends_on:
     - redis
   environment:
     - PYTHONPATH=/app/TutorApp
     - CELERY_BROKER_URL=redis://:${REDIS_PASSWORD}@redis:6379/1
     - CELERY_RESULT_BACKEND=redis://:${REDIS_PASSWORD}@redis:6379/1
 flower:
   container_name: flower
   build:
     context: .
     dockerfile: Dockerfile.prod
   command: celery -A core.celery flower --port=5555
   volumes:
     - .:/app:ro
   depends_on:
     - redis
     - celery
   environment:
     - PYTHONPATH=/app/TutorApp
     - CELERY_BROKER_URL=redis://:${REDIS_PASSWORD}@redis:6379/1
     - CELERY_RESULT_BACKEND=redis://:${REDIS_PASSWORD}@redis:6379/1


volumes:
   postgres_data:
     driver: local
   redis_data:
     driver: local
   static_volume:
     driver: local



