asgiref==3.8.1
astroid==3.3.10
attrs==25.3.0
bandit==1.8.3
black==25.1.0
certifi==2025.7.9
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
click-default-group==1.2.4
colorama==0.4.6
coverage==7.9.1
dill==0.4.0
distlib==0.3.9
Django==5.2.3
django-environ==0.12.0
django-widget-tweaks==1.5.0
dotenv-linter==0.7.0
factory_boy==3.3.3
Faker==37.4.0
filelock==3.18.0
flake8==7.2.0
identify==2.6.12
idna==3.10
iniconfig==2.1.0
isort==6.0.1
lark==1.2.2
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.16.1
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
pbr==6.1.1
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
psycopg2==2.9.10
pycodestyle==2.13.0
pyflakes==3.3.2
Pygments==2.19.1
pylint==3.3.7
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
PyMuPDF==1.26.3
pytest==8.4.0
python-dotenv==1.1.0
PyYAML==6.0.2
requests==2.32.4
rich==14.0.0
setuptools==80.9.0
sqlparse==0.5.3
stevedore==5.4.1
tomlkit==0.13.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.31.2
django-select2==8.4.1