{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1>
        {% if wizard.steps.current == "step1" %}
            {% trans "Add New Matriculation Task" %}
        {% elif wizard.steps.current == "step2" %}
            {% trans "Confirm Task Content" %}
        {% endif %}
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ form.as_p }}
        <div>
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
            {% endif %}
            <button type="submit">
                {% if wizard.steps.current == wizard.steps.last %}
                    {% trans "Confirm and Save" %}
                {% else %}
                    {% trans "Next" %}
                {% endif %}
            </button>
        </div>
    </form>
{% endblock %}
