{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% trans "Tasks for Exam" %} - {{ exam }}
{% endblock title %}
{% block content %}
    <div class="main-content">
        <div class="form-container exam-list-container">
            <div class="back-link-container">
                <a href="{% url 'examination_tasks:exam_list' %}"
                   class="btn-submit btn-small">← {% trans "Back to Exam List" %}</a>
            </div>
            <h1 class="form-title task-list-title">{{ exam }}</h1>
            <div class="table-responsive">
                <table class="exam-table task-table">
                    <thead>
                        <tr>
                            <th class="col-center col-10">{% trans "Task No." %}</th>
                            <th class="col-left">{% trans "Category" %}</th>
                            <th class="col-center col-20">{% trans "Status" %}</th>
                            <th class="col-center col-20">{% trans "Action" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr class="{% cycle 'row-even' 'row-odd' %}">
                                <td class="col-center">{{ task.task_id }}</td>
                                <td class="col-left">{{ task.get_category_display }}</td>
                                <td class="col-center">
                                    {% if task.is_completed_by_user %}
                                        <span class="status-badge status-completed">{% trans "Completed" %}</span>
                                    {% else %}
                                        <span class="status-badge status-not-completed">{% trans "To Do" %}</span>
                                    {% endif %}
                                </td>
                                <td class="col-center">
                                    <a href="{% url 'examination_tasks:task-display' pk=task.pk %}"
                                       class="btn-submit btn-small">
                                        {% if task.is_completed_by_user %}
                                            {% trans "Review Task" %}
                                        {% else %}
                                            {% trans "Go to Task" %}
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="no-exams-message">{% trans "There are no tasks for this exam yet." %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if is_paginated %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">« {% trans "first" %}</a>
                            <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                        {% endif %}
                        <span class="current">
                            {% blocktrans %}Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.{% endblocktrans %}
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} »</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
