{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Task" %} {{ task.task_id }} | {{ task.exam }}
{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h1>{% trans "Task preview" %}: {{ task.task_id }}</h1>
        <p class="lead">{% trans "Exam" %}: {{ task.exam }}</p>
        <hr>
        <div class="pdf-viewer-container"
             style="height: 80vh;
                    border: 1px solid #ccc">
            <embed src="{% url 'exams:task-pdf-stream' pk=task.pk %}"
                   type="application/pdf"
                   width="100%"
                   height="100%" />
        </div>
    </div>
{% endblock %}
