{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% trans "Add New Quiz" %}
{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for m in messages %}
                <li class="alert {% if m.tags %}alert-{{ m.tags }}{% endif %}">{{ m }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" class="form-container">
        {% csrf_token %}
        <h1 class="form-title">{% trans "Add New Quiz" %}</h1>
        {% if form.non_field_errors %}
            <div class="form-errors">
                {% for error in form.non_field_errors %}<div class="error-text">{{ error }}</div>{% endfor %}
            </div>
        {% endif %}
        <div class="floating-field field-char">
            <div class="floating-field__input-wrapper">
                {{ form.title|add_class:"form-input" }}
                <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
            </div>
            {% if form.title.errors %}<div class="field-errors">{{ form.title.errors|striptags }}</div>{% endif %}
        </div>
        <div class="floating-field field-search-single">
            <div class="floating-field__input-wrapper">{{ form.section }}</div>
            {% if form.section.errors %}<div class="field-errors">{{ form.section.errors|striptags }}</div>{% endif %}
        </div>
        <button type="submit" class="btn-submit btn-submit--form">{% trans "Add Quiz" %}</button>
    </form>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    {{ form.media }}
{% endblock %}
