{% extends "base.html" %}
{% load static widget_tweaks i18n %}
{% block content %}
    <div class="main-content main-content--auto-height">
        <div class="form-container form-container--narrow">
            <h1 class="form-title form-title--small quiz-start-title">{{ quiz.title }}</h1>
            <p class="quiz-start-info__count">
                {% blocktranslate %}Total questions available: {{ question_count }}{% endblocktranslate %}
            </p>
            {% if last_attempt %}
                <p class="quiz-start-info__last-attempt">
                    {% blocktranslate with score=last_attempt.score max_score=last_attempt.max_score %}
                    Your last score: {{ score }} / {{ max_score }}
                {% endblocktranslate %}
                </p>
            {% else %}
                <p class="quiz-start-info__last-attempt">{% translate "You haven't attempted this quiz yet." %}</p>
            {% endif %}
            <form method="post" class="quiz-start-form">
                {% csrf_token %}
                <div class="floating-field field-select">
                    <div class="floating-field__input-wrapper">
                        <label for="{{ form.question_count.id_for_label }}">{{ form.question_count.label }}</label>
                        {{ form.question_count|add_class:"form-input" }}
                    </div>
                    {% if form.question_count.errors %}
                        <div class="field-errors">{{ form.question_count.errors|striptags }}</div>
                    {% endif %}
                </div>
                {% if form.level_type %}
                    <div class="floating-field field-select">
                        <div class="floating-field__input-wrapper">
                            <label for="{{ form.level_type.id_for_label }}">{{ form.level_type.label }}</label>
                            {{ form.level_type|add_class:"form-input" }}
                        </div>
                        {% if form.level_type.errors %}<div class="field-errors">{{ form.level_type.errors|striptags }}</div>{% endif %}
                    </div>
                {% endif %}
                {% if form.non_field_errors %}<div class="form-errors">{{ form.non_field_errors|striptags }}</div>{% endif %}
                <p class="form-help-text">
                    {% translate "Estimated time to complete:" %}
                    <strong id="time-estimate"></strong>
                </p>
                <button type="submit" class="btn-submit">{% translate "Start Quiz" %}</button>
            </form>
        </div>
    </div>
    {{ question_count|json_script:"total-questions-data" }}
    {{ seconds_per_question|json_script:"seconds-per-question-data" }}
    <script src="{% static 'assets/js/quiz_timer.js' %}"></script>
{% endblock %}
