{% extends "base.html" %}
{% load static widget_tweaks i18n %}
{% block title %}
    {% trans "Solve Quiz" %}
{% endblock %}
{% block content %}
    {{ deadline|json_script:"quiz-deadline" }}
    <div class="container">
        <div id="quiz-timer"></div>
        <p>{% trans "Question" %} {{ wizard.steps.step1 }}/{{ wizard.steps.count }}</p>
        <h2>{{ question.text }}</h2>
        {% if question.picture %}<img src="{{ question.picture.url }}" alt="Question image">{% endif %}
        <form method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            <div class="question-nav">
                {% for step, answered, page in steps_navigation %}
                    <button type="submit"
                            name="wizard_goto_step"
                            value="{{ step }}"
                            data-page="{{ page }}"
                            class="{% if answered %}answered{% else %}unanswered{% endif %}">
                        {{ forloop.counter }}
                    </button>
                {% endfor %}
            </div>
            <h3>{% trans "Select answers:" %}</h3>
            {{ form.as_p }}
            {% if wizard.steps.prev %}
                <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
            {% endif %}
            <button type="submit">
                {% if wizard.steps.last %}
                    {% trans "Finish" %}
                {% else %}
                    {% trans "Next" %}
                {% endif %}
            </button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script defer src="{% static 'assets/js/quiz_deadline.js' %}"></script>
{% endblock %}
