{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% trans "Add New Book" %}
{% endblock %}
{% block content %}
    <form method="post" class="form-container" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="form-title">{% trans "Add New Book" %}</h1>
        {% if form.non_field_errors %}
            <div class="form-errors">
                {% for error in form.non_field_errors %}<div class="error-text">{{ error }}</div>{% endfor %}
            </div>
        {% endif %}
        <div class="floating-field field-char">
            <div class="floating-field__input-wrapper">
                {{ form.title|add_class:"form-input" }}
                <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
            </div>
            {% if form.title.errors %}<div class="field-errors">{{ form.title.errors|striptags }}</div>{% endif %}
        </div>
        <div class="floating-field field-select">
            <div class="floating-field__input-wrapper">
                {{ form.book_type|add_class:"form-input" }}
                <label for="{{ form.book_type.id_for_label }}">{{ form.book_type.label }}</label>
            </div>
            {% if form.book_type.errors %}<div class="field-errors">{{ form.book_type.errors|striptags }}</div>{% endif %}
        </div>
        <div class="floating-field field-char">
            <div class="floating-field__input-wrapper">
                {{ form.authors|add_class:"form-input" }}
                <label for="{{ form.authors.id_for_label }}">{{ form.authors.label }}</label>
            </div>
            {% if form.authors.errors %}<div class="field-errors">{{ form.authors.errors|striptags }}</div>{% endif %}
        </div>
        <div class="floating-field field-short">
            <div class="floating-field__input-wrapper">
                {{ form.publication_year|add_class:"form-input" }}
                <label for="{{ form.publication_year.id_for_label }}">{{ form.publication_year.label }}</label>
            </div>
            {% if form.publication_year.errors %}
                <div class="field-errors">{{ form.publication_year.errors|striptags }}</div>
            {% endif %}
        </div>
        <div class="floating-field field-select">
            <div class="floating-field__input-wrapper">
                {{ form.school_level|add_class:"form-input" }}
                <label for="{{ form.school_level.id_for_label }}">{{ form.school_level.label }}</label>
            </div>
            {% if form.school_level.errors %}<div class="field-errors">{{ form.school_level.errors|striptags }}</div>{% endif %}
        </div>
        <div class="floating-field field-select">
            <div class="floating-field__input-wrapper">
                {{ form.subject|add_class:"form-input" }}
                <label for="{{ form.subject.id_for_label }}">{{ form.subject.label }}</label>
            </div>
            {% if form.subject.errors %}<div class="field-errors">{{ form.subject.errors|striptags }}</div>{% endif %}
        </div>
        <div class="floating-field field-select">
            <div class="floating-field__input-wrapper">
                {{ form.grade|add_class:"form-input" }}
                <label for="{{ form.grade.id_for_label }}">{{ form.grade.label }}</label>
            </div>
            {% if form.grade.errors %}<div class="field-errors">{{ form.grade.errors|striptags }}</div>{% endif %}
        </div>
        <button type="submit" class="btn-submit">{% trans "Add Book" %}</button>
    </form>
{% endblock %}
