{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% trans "Add New Topic" %}
{% endblock %}
{% block content %}
    <form method="post" class="form-container">
        {% csrf_token %}
        <h1 class="form-title">{% trans "Add New Topic" %}</h1>
        {% if form.non_field_errors %}
            <div class="form-errors">
                {% for error in form.non_field_errors %}<div class="error-text">{{ error }}</div>{% endfor %}
            </div>
        {% endif %}
        <div class="floating-field field-select">
            {{ form.section|add_class:"form-input" }}
            <label for="{{ form.section.id_for_label }}">{{ form.section.label }}</label>
            {% if form.section.errors %}<div class="field-errors">{{ form.section.errors|striptags }}</div>{% endif %}
        </div>
        <div class="floating-field field-char">
            {{ form.name|add_class:"form-input" }}
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {% if form.name.errors %}<div class="field-errors">{{ form.name.errors|striptags }}</div>{% endif %}
        </div>
        <button type="submit" class="btn-submit">{% trans "Add Topic" %}</button>
    </form>
{% endblock %}
