{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% trans "Login" %}
{% endblock %}
{% block content %}
    <form method="post" class="form-container">
        {% csrf_token %}
        <h2 class="form-title">{% trans "Login" %}</h2>
        {% if form.non_field_errors %}
            <div class="form-errors">
                {% for error in form.non_field_errors %}<div class="error-text">{{ error }}</div>{% endfor %}
            </div>
        {% endif %}
        <div class="floating-field field-char">
            <div class="floating-field__input-wrapper">
                {{ form.username|add_class:"form-input"|attr:"placeholder: " }}
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            </div>
            {% for error in form.username.errors %}<div class="error-text">{{ error }}</div>{% endfor %}
        </div>
        <div class="floating-field field-char">
            <div class="floating-field__input-wrapper">
                {{ form.password|add_class:"form-input"|attr:"placeholder: " }}
                <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
            </div>
            {% for error in form.password.errors %}<div class="error-text">{{ error }}</div>{% endfor %}
        </div>
        <button type="submit" class="btn-login">{% trans "Log in" %}</button>
        <div class="login-link">
            {% trans "Don’t have an account yet?" %}
            <a href="{% url 'users:register' %}">{% trans "Sign up" %}</a>
        </div>
        <div class="login-link">
            <a href="{% url 'users:password_reset' %}">{% trans "Forgot your password?" %}</a>
        </div>
    </form>
{% endblock %}
