{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Check your email" %}
{% endblock %}
{% block content %}
    <div class="form-container">
        <h1 class="form-title">{% trans "Check your email" %}</h1>
        <p class="login-link">
            {% trans "We have emailed you instructions for setting your password. You should receive them shortly." %}
        </p>
        <p class="login-link">
            {% trans "If you don't receive an email, please make sure you've entered the address you registered with." %}
        </p>
    </div>
{% endblock %}
