{% load i18n %}
<div class="nav-menu">
    <input type="checkbox" id="examToggle" hidden>
    <label for="examToggle">{% trans "Examination Tasks" %}</label>
    <div class="dropdown-content">
        <a href="{% url 'examination_tasks:exam_list' %}">{% trans "Exam List" %}</a>
        <a href="{% url 'examination_tasks:task_search_engine' %}">{% trans "Task Search Engine" %}</a>
        <a href="{% url 'examination_tasks:student_progress' %}">{% trans "My Progress" %}</a>
        {% if user.role_type == 2 %}
            <a href="{% url 'examination_tasks:exam_add' %}">{% trans "Add Exam" %}</a>
            <a href="{% url 'examination_tasks:add_exam_task' %}">{% trans "Add Exam Task" %}</a>
        {% endif %}
    </div>
</div>
