{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}App{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">
        {% if user.is_authenticated %}
            <link rel="stylesheet" href="{% static 'assets/css/navbar.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'assets/css/header.css' %}">
        {% endif %}
    </head>
    <body>
        <header class="main-header">
            <div class="container">
                <div class="logo">Appname</div>
                <nav class="nav-links">
                    {% if user.is_authenticated %}
                        <a href="#">Videos</a>
                        <a href="#">Calendar</a>
                        <a href="#">Training tasks</a>
                        <a href="#">Plans</a>
                        <a href="#">Examination tasks</a>
                        <a href="#">Quizes</a>
                        <a href="{% url 'users:logout' %}">Logout</a>
                    {% else %}
                        <a href="#">{% trans "Home" %}</a>
                        <a href="#">{% trans "About" %}</a>
                        <a href="#">{% trans "Services" %}</a>
                        <a href="#">{% trans "Pricing" %}</a>
                        <a href="#">{% trans "Contact" %}</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
