{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block main_class %}main-content main-content--full{% endblock %}
{% block content %}
    <div class="video-details-container">
        <div class="video-details-header">
            <a href="{% url 'videos:section_videos' section_pk=video.section.pk %}"
               class="btn-nav">
                {% blocktrans with name=video.section.name %}Videos From Section {{ name }}{% endblocktrans %}
            </a>
            <div class="video-details-title-wrapper">
                <span class="video-details-label">{% trans "Video Title" %}</span>
                <h1 class="form-title form-title--small">{{ video.title }}</h1>
            </div>
        </div>
        <div class="video-details-content">
            <div class="video-player-wrapper">
                <div id="player"></div>
                <div class="player-overlay"></div>
            </div>
            <div class="video-timestamps" id="timestamp-buttons"></div>
        </div>
    </div>
    <script id="video-id" type="application/json">"{{ video.youtube_video_id }}"</script>
    {{ timestamps|json_script:"timestamps-data" }}
{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/js/youtube_player.js' %}"></script>
    <script src="{% static 'assets/js/timestamps.js' %}"></script>
{% endblock %}
